.login-card {
  padding: 20px;
  font-size: 16px;
  height: 515px;
}

.login-card h1 {
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 50px;
}

.base-input, .base-input:focus {
  color: #525252;
  background-color: #ffffff;
}

.login-submit {
  height: 50px;
}

@media (min-width: 576px) {
  .login-card {
    padding: 50px;
  }
  
  .login-submit {
    height: 65px;
  }
}
