.filter-card {
    margin-bottom: 20px;
    padding: 5px 20px;
}

.movie-container {
    margin: 20px 10px;
}

.movie-list-container {
    display: flex;
}

.movie-list-item-container {
    margin-top: 50px;
}