.container-movie {
  margin-bottom: 20px;
}

.container-movie-details {
  padding: 20px;
}

.container-movie-image {
  padding-top: 30px;
  margin-bottom: 20px;
}

.container-movie-image,
img {
  max-width: 100%;
}

.container-movie-title {
  padding: 0;
}

.container-movie-year {
  padding: 0;
  color: #ffc700;
}

.container-movie-subtitle {
  padding: 0;
  font-size: 12px;
}

.container-movie-synopsis {
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  color: #9E9E9E;
  padding: 15px 10px;
}
